<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a new recipe</title>
</head>
<body>

  <form action="/recipes" method="post">
    <p>Recipe name: <input type="text" name="name"></p>
    <p>Recipe ingredients: <input type="text" name="ingredients"></p>
    <p>Cook time: <input type="text" name="cook_time"></p>
    <input type="submit" value="Create recipe">
  </form>
  
</body>
</html>