<form method="POST" action="/recipes">
    <p>Recipe name: <input type="TEXT" name="name"></p>
    <p>Ingredients: <input type="TEXT" name="ingredients"></p>
    <p>Cooking time: <input type="TEXT" name="cook_time">
    <input type="submit">
</form>